<h1> Welcome to HANGMANIA </h1>
<form method = "POST" action = "/welcome">

  <label for = "name">Enter Your Name:</label>
  <input id = "name" type = "text" name = "name"/>

  <input type = "submit" value = "Begin">

</form>
