<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HANGMAN</title>
  </head>
  <body>
    <main>
    <%=yield%>
  </main>
  <% ("a".."z").each do |letter| %>
  <form action= "http://localhost:4567/<%= letter %>">
    <input type="submit" value=<%=letter%> />
  </form>
    <% end %>
  </body>
</html>
